<h1>Edit Your Tweet:</h1>

<form action='/tweets/<%= @tweet.id %>/edit' method='post'>

<label> Edit: <input type='textarea' value='<%=@tweet.content %>' name='content' id='content'> </label>
  <input type = 'submit' value='submit edit'>
