<h1>Welcome, <%= @user.username %></h1>

<% @tweets.each do |tweet| %>
  <%= tweet.content %> <BR>

<form method='update' action="/tweets/<%=tweet.id%>/edit">
  <input type="submit" value="edit"> </form>


<form method="post" action="/tweets/<%=tweet.id%>/delete">
  <input type="hidden" name="_method" value="patch" id="hidden">
  <input data-confirm='Are you sure?' type="submit" value="delete tweet" > </form>

<% end %> <BR>
<h2><a href='/tweets/new'> Create a New Tweet </a></h2>
<a href = '/logout'> Logout </a>
