<h1>Create a profile</h1>

<form action='/signup' method="POST">

  <label for="username">Name:</label>
  <input name="username" type="text" name="username" />
  <label for="email">Email:</label>
  <input name="email" type="text" name="email[user]" />
  <label for="password"> Password:</label>
  <input name="password" type="text" name="password[user]" />
  <button type="submit" value="submit">Submit</button>
</form>
